.header{
 
  background-image:url('wood2.jpg');
  font-style: bold
  background: #296999;
  border-size:0px;

}

.nav{
  width: 5em;
  height: 5em;
}

#featured{
  font-family: 'Fjalla+One', Times;
  font-style: bold;
  font-size: 4em;
}
. {
  font-family: 'Fjalla+One', Times;
  font-style:bold;
  font-size: 2em;
}
body{
  background: white;
  font-family:
  width: 900px;

  opacity: 80;
}

#signup{
  margin:1em;
}




}

hr{
  height: 2px;
  border: 3px solid black;
  background-color: #ccc;
}


footer{
  background: #296999;
  background-image:url('wood2.jpg');
  height:120px;
}

#footer-links{
  height: 1px;
}

#sponsors p{
  font-family: 'Racing+Sans+One|Fjalla+One',Times ;
  font-size:20px;
  font-style:bold;
}
  
#logo{
  
  width: 400px;
  height:100px